.leelapic70{
	height:80px;
	width:150px;
	margin-left:300px;
	margin-top:-50px;
}
.leelapic80{
	height:80px;
	width:140px;
	margin-left:300px;
	margin-top:-50px;
}
.img-size{
	width:700px;
}
.leelapic90{
	margin-left:700px;
	width:800px;
	height:500px;
	margin-top:50px;
}
.india3{
	margin-left:100px;
	margin-top:-400px;
}
.para5{
	margin-left:50px;
}
.c01{
	margin-top:220px;
}
.place1{
	color:white;
}