.bc-image1{
	background-image:url("mall.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	height:1000px;
	width: 100%;
}
.pic{
	margin-right:80px;
	height:80px;
	margin-top:-940px;
	color:red;
}
.firstcont .container{
	margin-top:-120px;
	background-color:white;
}

.col-md-2{
	border:0.5px solid black;
	padding:10px 20px 10px 20px;
	
}
.container-flulid img{
	width:450px;
}
.container-flulid col-md-3{
	width: 800px;
}


.col-md-3{
	margin-top:15px;
}
.table4{
	margin-top:-700px;
}


.leelapic4{
	margin-left:620px;
	width:900px;
	
}
.vish5{
	
	margin-top:300px;
}
.india1{
	margin-left:30px;
	margin-top:-30px;
	color:white;
}
.india2{
	margin-left:30px;
	margin-top:-30px;
	color:white;
	}
.vish8{
	margin-top:200px;
}
.img-size{
	width:700px;
}

.leelapic80{
	height:80px;
	width:140px;
	margin-left:300px;
	margin-top:-50px;
}
.container{
	margin-top:220px;
}
.place1{
	color:white;
}
.leelapic70{
	height:80px;
	width:150px;
	margin-left:300px;
	margin-top:-50px;
}
.vish2{
	margin-top:-1px;
	margin-left:40px;
}
.vish1{
	margin-top:200px;
	margin-left:40px;
}
.vish3{
	margin-top:300px;
}
.vish6{
	margin-top:-300px;
}



